{% set vlan_vni = vlan_id|int + 1000000 %}

vlan {{ vlan_id }}
    name {{ vlan_name }}

interface vlan {{ vlan_id }}
    ip address virtual 172.16.{{ vlan_id }}.1/24

interface Vxlan1
   vxlan vlan {{ vlan_id }} vni {{ vlan_vni }}

router bgp {{ bgp_as_number }}
   vlan {{ vlan_id }}
      rd {{ bgp_as_number }}:{{ vlan_vni }}
      route-target both {{ vlan_id }}:{{ vlan_vni }}
      redistribute learned